{% extends 'SistemaAcessoBaseBundle::Layout/layout.html.twig' %}
{% set page_title = 'Erro 500' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <h3>Erro 500 - Problemas com o sistema!</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-warning">
                <i class="fa fa-warning"></i>
                Um erro ocorreu ao tentar executar a operação! O administrador do sistema foi notificado sobre o erro, e em breve realizará a correção!
            </div>
        </div>
    </div>

{% endblock %}