{% extends 'SistemaAcessoBaseBundle::Layout/layout.html.twig' %}
{% set page_title = 'Error 404' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <h3>Erro 404 - Página não encontrada!</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-warning">
                <i class="fa fa-warning"></i>
                Não foi possível localizar a página solicitada!
            </div>
        </div>
    </div>

{% endblock %}