<table style="margin:0 auto; width: 550px;">
    <tr>
        <td>
            <a href="http://www.superprofessores.com.br" title="www.superprofessores.com.br">
                <img src="http://www.superprofessores.com.br/public/images/email-header.jpg" alt="Super Professores" />
            </a>
        </td>
    </tr>
    <tr style="float:left; font-size:13px; color:#7e7e7e; font-family:arial, tahoma, sans-serif; padding:10px;">
        <td>
            <p></p>
            <p>Olá <span style="color:#9e1a1a;">{{ user.username }}!</span></p>
            <p></p>
            <p>

                Você está recebendo esse email pois acabou de solicitar a redefinição de sua senha. <br>

                Acesse {{ confirmationUrl }} para gerar uma nova senha de acesso.<br><br>

                Qualquer dúvida que tiver, por favor, deixe-nos saber.
            </p>

            Atenciosamente,<br>
            Equipe Super Professores



        </td>
    </tr>
    <tr>
        <td>
            <a href="http://www.superprofessores.com.br" title="www.superprofessores.com.br">
                <img src="http://www.superprofessores.com.br/public/images/email-footer.jpg" alt="www.superprofessores.com.br" />
            </a>
        </td>
    </tr>
</table>