{% extends 'SistemaAcessoBaseBundle::Layout/layout.html.twig' %}
{% set page_title = 'Usuário' %}
{% block body %}

    <!-- Control sizing -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Adicionar novo usuário</h4>
        </div>
        <div class="panel-body">
            {{ include('SistemaAcessoUserBundle::User/_form.html.twig') }}
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}