{% extends 'SistemaAcessoBaseBundle::Layout/layout.html.twig' %}
{% set page_title = 'Acesso negado!' %}

{% block body %}
    <div class="alert alert-danger">
        <i class="fa fa-warning"></i>
        Você não tem permissão para acessar este recurso!
    </div>
{% endblock %}