{% extends 'SistemaAcessoBaseBundle::Layout/layout.html.twig' %}
{% set page_title = 'Erro fatal!' %}

{% block body %}
    <div class="alert alert-warning">
        <i class="fa fa-warning"></i>
        Um erro ocorreu ao tentar executar a operação! Entre em contato com o administrador do sistema!
    </div>
{% endblock %}