{% extends "SistemaAcessoUserBundle:Resetting:layout.html.twig" %}

{% set page_title = 'Redefinir senha' %}


{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="row">
        <div class="col-xs-12">
            <div style="padding: 20px;">

                <h2 class="text-center">Redefinição de senha</h2>
                <br/>
                <br/>
                <p class="text-center text-success">
                    Uma requisição de mudança de senha para este usuário foi realizada nas últimas 24 horas e ainda não foi concluido.
                </p>
                <p class="text-help">
                    Acesse seu email na caixa de entrada ou lista de span, o email de confirmação pode estar em um destes lugares.
                </p>
                <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary pull-left btn-block"><i class="fa fa-sign-in" aria-hidden="true"></i> Autenticar-se</a>
            </div>
        </div>
        {#<div class="p-v-lg text-center">#}
        {#Ir para <a href="{{ path('fos_user_security_login') }}" class="md-btn">autênticação</a>#}
        {#</div>#}
    </div>
        </div>
    </div>

{% endblock fos_user_content %}
