{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div style="padding: 20px;">

                <h3>Esqueceu a senha?</h3>

                <br/>
                <br/>
                <p class="text-success">
                    Uma senha para este utilizador já foi requisitada nas últimas 24 horas.
                </p>
            </div>
        </div>
        {#<div class="p-v-lg text-center">#}
            {#Ir para <a href="{{ path('fos_user_security_login') }}" class="md-btn">autênticação</a>#}
        {#</div>#}
    </div>
{% endblock fos_user_content %}
