{% extends '@SistemaAcessoBase/Layout/layout.html.twig' %}
{% set page_title = 'Dashboard' %}

{% block body %}

    <div class="col-lg-5 col-md-6 col-sm-6">
        <div class="row no-gutter">
            <div class="col-xs-12">
                <md-card md-theme="default" md-theme-watch="" class="_md md-default-theme">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-subhead"><h4>Bem Vindo {{ app.user.name }}</h4></span>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
            </div>
        </div>
    </div>

{% endblock %}